*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(242, 239, 239);

}
.mainin{
    width: 100%;
    height: 65vh;
    background-image: linear-gradient(to bottom,rgb(91, 134, 236),rgb(18, 81, 227));   
    display: flex; 
    justify-content: center;
    align-items: center;
}
.box{
    /* border: 2px solid black; */
    margin-top: 180px;
    width: 50%;
    height: 70vh;
    border-radius: 35px;
    background-color: white;
    border-bottom: 12px solid rgb(18, 81, 227);
}
.box h1{
    color: rgb(11, 44, 230);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
h5{
    color: gray;
}
.one{
    display: flex;
    justify-content: center;
}
.boxin{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    width: 550px;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}
input{
    background-color: #efefef;
    border: none;
    padding: 15px ;
}
input:focus{
    outline: 1px solid skyblue;
}
 button{
    border: none;
    color: white;
    background-color: rgb(62, 62, 231);
    padding: 15px ;
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    background-color: skyblue;
    border-radius: 20px;
    color: red;  
}



/*-------------------------------------------------------------------*/


.mpage{
    width: 100%;
    /* height: 100vh; */
    background-image: linear-gradient(#02080c,#00abfe); 
    display: flex;
    justify-content: center;
    align-items: center;
}
.mbox{
    /* border: 1px solid red; */
    box-shadow: 10px 10px 10px 5px #081b29;
    background-color: #0d2f47;
    width: 85%;
    /* height: 80vh; */
    border-radius: 30px;
    /* margin-bottom: 170px; */
    margin: 80px 0px;
}
.navbar{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: space-between;
    margin-top: 20px;
}
.bone{
    /* border: 1px solid white; */
    color: rgb(25, 228, 49);
    /* height: 10vh; */
    display: flex;
    margin-left: 30px;
    justify-content: center;
    /* align-items: center; */
    color: wheat;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}
.bone>h1{
    font-weight: 900;
    color: aqua;
}
.btwo{
    /* border: 1px solid rgb(114, 168, 6); */
    /* width: 40%; */
    /* height: 10vh; */
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    color: wheat;
}
ul{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 20px;
}
ul li{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;   
}
span{color: #00abfe;}
li:hover{
    color: skyblue;
}
.backimg{
    /* border: 2px solid green; */
    /* margin-top: 70px; */
    /* width: 100%; */
    /* height: 61vh; */
    border-radius: 30px;
    padding-left: 80px;
}
.cont h1{
    color: white;
    font-size: 50px;
}
.cont h2{color: rgb(13, 122, 231); margin-bottom: 20px;}
.cont p{
    color: white;   
}
.btn button{
    background-color: #00abfe;
    color: #081b29;
    padding: 15px 30px;
    margin-top: 50px;
    margin-bottom: 150px;
    border-radius: 20px;
}


/*----------------------------------------------*/

.sermain{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#02080c,#00abfe); 

}
.our{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.our h1{
    margin: 50px 0px;
    color: #67cdea;
    border-bottom: 8px solid #00abfe;
}
.boot{
    width: 40%;
    display: flex;
    /* height: 90vh; */
    
    
}
.bootmain{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    margin-top: 100px;
    height: 50vh;
    justify-content: center;
}
.bootb{
    width: 90%;
    display: flex;
    margin-right: 10px;
    justify-content:flex-end;
}
.cmain{
    display: flex;
    justify-content: center;
}



/*-------------------------------------------------*/
.aboutmain{
    width: 100%;
    /* height: 100vh; */
    background-color: #081b29;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.aboutboxa{
    /* border: 1px solid red; */
    width: 45%;
    height: 60vh;
    margin: 150px 0px;
    background-color: #00abfe;
    /* background-image: url(pexels-pixabay-270348.jpg); */
    box-shadow: 10px 10px 10px 5px rgba(128, 128, 128, 0.411);
    /* border-radius:0px 200px 0px 0px  ;
    background-repeat: no-repeat;
    background-position: center ; */
}
.aboutboxa> img{
    width: 100%;
    height: 100%;
}
.aboutboxb{
    /* border: 1px solid red; */
    color: white;
    width: 30%;
    /* height: 60vh; */
    margin-left: 80px;
    margin-bottom: 20px;
}
.aboutboxb p{
    margin: 40px 0px;
}
.anchor{
    /* border: 1px solid red; */
    background-color: #b5c2cb;
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    /* margin: 50px 0px; */
}

.one:hover{
    text-decoration: underline;
}











